Source: tdm
Section: games
Priority: optional
Build-Depends: debhelper,
 gcc,
 g++,
 g++-4.9-multilib,
 m4,
 zip,
 libglew-dev,
 libglew-dev:i386,
 libpng12-dev,
 libpng12-dev:i386,
 libjpeg62-turbo-dev,
 libjpeg62-turbo-dev:i386,
 libc6-dev:i386,
 libxxf86vm-dev,
 libxxf86vm-dev:i386,
 libopenal-dev,
 libopenal-dev:i386,
 libasound2-dev,
 libasound2-dev:i386,
 libxext-dev,
 libxext-dev:i386,
 scons
Maintainer: SteamOS-Tools-Signing Key <mdeguzis@gmail.com>
Standards-Version: 3.9.5
Vcs-Git: https://github.com/ProfessorKaos64/tdm
Homepage: http://thedarkmod.com

Package: tdm
Architecture: any
Depends: ${misc:Depends}
Description: The Dark Mod is a fan-made game in the style of the original Thief.
